.ant-menu-item-selected {
    background-color: white !important;
    font-weight: 600 !important;
}

.badge {
    background: #3f6ad8;
    color: #fff;
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 12px;
    margin-left: 10px;
}

/* Table Styling */
.ant-table-thead > tr > th {
    background-color: #f5f7fb;
    color: #333;
    font-weight: bold;
}

.ant-table-cell {
    border-bottom: 1px solid #f0f0f0;
}

.ant-tag {
    padding: 2px 8px;
    font-size: 14px;
}

.ant-input-group-addon{
    background-color: white !important;
    border-left: none !important;
}